//JavaScript
function write(message) {
  document.getElementById('message').innerHTML += message + 'br/>;
}

var streetNumber = 49;
var streetName = "Brunswick";

write(typeof streetumber + " " + streetNumber);
